$primary: #009de0;
$secondary: #ff7825; // tenia este codigo ff7d00
$success: #00c96b;
$info: #ff3cb2;
$warning: #f2c100;
$orange: #ff7825; // tenia este codigo ff7d00
$pink: #ff3cb2;
$gray: #f3f6f9;
$prueba: #e9f7fd;

$enable-caret: true !default;
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-button-pointers: true !default;
$border-radius-card: 15px !default;

$font-size-base: 1.1rem;

@mixin aplicar-escala($factor) {
  $base-ajustada: $font-size-base * $factor;

  h1 {
    font-size: $base-ajustada * 2.2;
  }
  h2 {
    font-size: $base-ajustada * 1.9;
  }
  h3 {
    font-size: $base-ajustada * 1.65;
  }
  h4 {
    font-size: $base-ajustada * 1.4;
  }
  h5 {
    font-size: $base-ajustada * 1.15;
  }
  h6 {
    font-size: $base-ajustada * 0.825;
  }
  p,
  body {
    font-size: $base-ajustada;
  }
}

// --- MOBILE (Smartphone) ---
@media (max-width: 767px) {
  @include aplicar-escala(0.8); // Reduce todo un 20% para que quepa en móviles
}

// --- TABLET ---
@media (min-width: 768px) and (max-width: 1199px) {
  @include aplicar-escala(0.9); // Reduce solo un 10%
}

// --- DESKTOP (Tu configuración original) ---
@media (min-width: 1200px) {
  @include aplicar-escala(1); // Escala 1:1 según tus variables
}

.bg-gray {
  background-color: $gray !important;
}

.bg-prueba {
  background-color: $prueba !important;
}
