// colores
$primary: #009de0;
$secondary: #FF7D00;
$success: #00C96B;
$info: #FF3CB2;
$warning: #F2C100;
// $danger: $red !default;
// $light: $gray-100 !default;
// $dark: $gray-900 !default;
$orange: #FF7D00;
$pink: #FF3CB2;

// options
$enable-caret: true !default;
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-button-pointers: true !default;

$font-size-base: 1.1rem !default;

// $enable-rounded:              true !default;