.area {
  position: relative;
  padding: 50px 0;

  &-list {
  }

  &-detail {
  }

  &-hero {
    //background-color: $gray-200;
    margin-bottom: 30px;
  }

  &-institutional {
    background: $dark;
    padding: 30px 30px;
    color: white;
    margin-bottom: 30px;

    h4 {
      text-align: center;
      margin-bottom: 30px;
    }

    .card {
      background-color: transparent;
      border-radius: 0;
      border: none;

      &-img-top {
        text-align: center;
        border-radius: 0;

        img {
          border-radius: 100px;
          object-fit: cover;
        }
      }

      &-body {
        color: white;
        text-align: center;
      }

      &-title {
        font-size: 1.1rem;
      }

      &-subtitle {
        font-size: 1rem;
        color: $gray-400;
      }
    }
  }

  &-formalities {
    margin-bottom: 30px;
    min-height: 800px;

    .card {
      background-color: $gray-200;
      &:hover {
        background-color: darken($gray-200, 5%);
        p {
          color: $primary;
        }
      }

      &-body {
        height: 100px;
        display: flex;
        align-items: center;
        // justify-content: center;
        // text-align: center;
      }
    }
    @media (max-width: 991px) {
      .card {
        &-body {
          height: auto;
        }
      }
    }
  }

  &-programs {
    background-color: $gray-200;
    margin-bottom: 30px;
    min-height: 800px;
  }
}
