.area {
  position: relative;
  margin-top: 60px;

  &-home {
    padding-bottom: 60px;
  }

  &-detail {

    h3,
    h4 {
      color: $primary;
      margin-bottom: 24px;
    }
  }

  &-section {
    //background-color: orange;
    margin-bottom: 60px;
  }

  &-hero {
    margin-bottom: 60px;

    .map-container {
      height: 100%;

      .map {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-institutional {
    margin-bottom: 30px;

    h4 {
      //text-align: center;
      margin-bottom: 30px;
    }

    .card {
      background-color: #ffffff;
      border-radius: 5px;
      text-align: center;
      margin-bottom: 20px;

      &-img-top {
        text-align: center;
        border-radius: 0;
        object-fit: cover;
        width: 100%;
        height: 160px;
      }

      &-body {
        color: black;
        text-align: center;
        min-height: 140px;
        padding: 10px;
      }

      &-title {
        font-size: 1.1rem;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #000;
      }

      &-subtitle {
        font-size: 0.86rem;
        color: $gray-900;
        margin-bottom: 0px;
        font-weight: 300;
      }

      &-footer {
        border: none;
        min-height: 20px;
        background-color: white;
        padding-top: 0;
      }

      .cv-link {
        font-weight: 600;
        color: $primary;
        text-decoration: underline;
        font-size: 0.9rem;
      }
    }
  }

  &-programs {
    background-color: $gray-200;
    margin-bottom: 30px;
  }
}