.chat {
  background-color: red;

  &-bubble {
    position: fixed;
    bottom: 20px;
    right: 100px;
    z-index: 1000;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--bs-info);
    color: white;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease;
    font-size: 24px;

  }

  &-window {
    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 999;
    max-width: 400px;
    height: 70vh;
    max-height: 600px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    display: flex;
    flex-direction: column;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bs-info);
    color: white;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 8px 8px 0 0;
  }

  &-message {
    &--user {
      background-color: rgba($primary, 0.14);
    }

    &--agent {
      background-color: rgba($info, 0.14);
    }
  }

  &-input {
    display: flex;

    .btn {
      margin-left: 8px;
      color: white;
    }
  }
}