.contact {
  &-item {
    //background-color: yellow;
    margin-bottom: 8px;

    &--link {
      display: block;
      text-decoration: none;

      display: flex;
      align-items: center;
      overflow: hidden;

      color: $gray-700;

      &:hover {
        color: #000;
      }
    }

    &--icon {
      margin-right: 8px;
      font-size: 1.4rem;
      flex-shrink: 0;
    }

    &--info {
      //background-color: red;
      display: flex;
      flex-direction: column;
      min-width: 0;
    }

    &--text {
      margin-right: 8px;
      word-break: break-word;
      overflow-wrap: break-word;
    }

    &--label {
      color: $success;
      font-weight: 500;
      font-size: 0.75rem;
      text-transform: uppercase;
    }
  }

  &-item--btn-wrapper {
    margin-top: 1rem;
    margin-bottom: 0.5rem;

    .contact-item--link.btn {
      padding: 0.6rem 1.5rem;
      border-width: 2px;
      font-weight: 600;
      display: flex;
      align-items: center;

      &:hover {
        background-color: $primary;
        color: white !important;
      }
    }
  }
}