$card-height: 110px;

.entries {
  padding-top: 60px;
  padding-bottom: 60px;

  &-list {
    margin-bottom: 60px;

    a {
      text-decoration: none;
    }

    h3 {
      color: #000;
    }

    .card {
      //border-radius: $border-radius;
      // border-color: rgba($primary, 1);
      border: 1px solid rgba($primary, 0.5);

      &:hover {
        border: 1px solid rgba($primary, 1);
      }

      &-img {
        width: 100%;
        min-height: $card-height;
        border-radius: $border-radius 0 0 $border-radius;
        background-color: white;


        img {
          width: 100%;
          height: $card-height;
          object-fit: cover;
          border-radius: $border-radius 0 0 $border-radius;
          ;
        }
      }

      &-icon {
        background-color: white;
        width: 100%;
        min-height: $card-height;
        border-radius: $border-radius 0 0 $border-radius;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 50%;
          height: 50%;
          //color: white;
        }
      }

      &-body {
        background-color: rgba($gray-900, 0.06);
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        min-height: $card-height;
        border-radius: 0 $border-radius $border-radius 0;
        //color: white;

        &:hover {
          background-color: rgba($gray-900, 0.12);
        }
      }

      &-pretitle {
        font-size: 0.86rem;
        margin-bottom: 6px;
        font-weight: 400;
      }

      &-title {
        margin-bottom: 0;
        font-size: 1.2rem;
        line-height: 1.4rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }



  &-detail {

    position: relative;
    margin-bottom: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #ccc;

    &--img {
      min-height: 100px;
      position: sticky;
      top: 160px;

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
    }

    &--content {
      //min-height: 1400px;
    }

    &--pretitle {
      margin-bottom: 16px;
      color: $gray-800;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &--title {
      margin-bottom: 20px;
      font-size: 2rem;
      line-height: 2.6rem;
    }

    &--subtitle {
      margin-bottom: 30px;
      font-size: 1.2rem;
      line-height: 1.6rem;
    }

    &--body {
      margin-bottom: 50px;
    }

    &--links {

      p {
        margin-bottom: 8px;
      }

      .btn {
        margin-bottom: 30px;
      }

    }

  }
}