.hero {
  position: relative;
  background-color: #000;
  overflow: hidden;

  &-slides {
    opacity: 1;
  }
}

.hero-slides-icons {
  position: absolute;
  top: 110px;
  right: 10px;
  z-index: 10;
}
